# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print('Sam Chen')
print('Georgios is very intelligent')

Sam Chen
Georgios is very intelligent

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
df = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [21]:
condition1 = df['price'] < 100

listingCount = len(df[condition1])

print("There are ", listingCount, "listings")

There are  22778 listings

In [25]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

condition2 = df['neighbourhood_group'] == 'Brooklyn'

bListingCount = len(df[condition2])

print("There are ",bListingCount, "listings")

There are  18632 listings

In [26]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
bpListingCount = len(df[condition1][condition2])

print("There are ",bpListingCount, "listings in Brooklyn with a price lower than 100")

There are  10473 listings in Brooklyn with a price lower than 100

C:\Users\chens\AppData\Local\Temp\ipykernel_21628\1831998448.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bpListingCount = len(df[condition1][condition2])

In [35]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
host = ["Micheal" , "David" , "John" , "Daniel"]
conditionN = df.host_name.isin(host)
hostNListingCount = len(df[conditionN])

print("There are ",hostNListingCount, "that has the host name of Michael, David, John, and Daniel")

There are  874 that has the host name of Michael, David, John, and Daniel

In [40]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
conditionAP = df['neighbourhood'] == 'Williamsburg'
df['adjusted_price'] = df[conditionAP]['price'] + 100

df[conditionAP]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209.0
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399.0
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231.0
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275.0
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46484,44746041,"Modern, light-filled apartment in Wiliamsburg",3317380,Marge,Brooklyn,Williamsburg,40.71372,-73.95407,Entire home/apt,250,7,0,NaN,NaN,1,164,350.0
46489,44749327,Luxury 3 bedroom apartment Williamsburg ROOF P...,334780877,Pedro & Maria,Brooklyn,Williamsburg,40.70902,-73.95610,Entire home/apt,464,4,0,NaN,NaN,1,344,564.0
46493,44753863,"Bright, spacious East Williamsburg loft",38062951,Nathan,Brooklyn,Williamsburg,40.70372,-73.93492,Entire home/apt,100,7,0,NaN,NaN,1,146,200.0
46513,44800276,"Williamsburg 1 Bedroom, Spacious and Classy",361034257,Angelo + Amirah,Brooklyn,Williamsburg,40.71283,-73.95400,Entire home/apt,180,7,0,NaN,NaN,1,364,280.0
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,155.0

In [53]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
conditionP = df['room_type'] == 'Private room'
conditionPu = df['room_type'] == 'Shared room'

privatePercentage = (len(df[conditionP])/ len(df)) * 100
sharedPercentage = (len(df[conditionPu])/ len(df)) * 100

print("Percentage of private room is", privatePercentage,)
print("Percentage of shared room is", sharedPercentage,)

Percentage of private room is 45.444580566122895
Percentage of shared room is 2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [54]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

group = df.groupby('neighbourhood_group')
group['neighbourhood_group'].value_counts()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: count, dtype: int64

In [55]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
group['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [56]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
group1 = df.groupby('room_type')
group1['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [59]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
group2 = df.groupby('neighbourhood_group')
group2['price'].agg(['min','max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [62]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
groupby_cols = ['neighbourhood_group', 'room_type']
gb = df.groupby(groupby_cols)
gb['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [65]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

gb = df.groupby('neighbourhood_group')
gb['price'].agg( ['count', 'min', 'max', 'mean', 'median', 'std'] )

                     count  min    max        mean  median         std
neighbourhood_group
Bronx                 1183   16   1404   92.751479    69.0   95.787081
Brooklyn             18632    0  10000  120.225258    90.0  180.136376
Manhattan            20580    0  10000  191.880466   129.0  428.682578
Queens                5791    0  10000   99.754965    70.0  207.648739
Staten Island          341   19   1200  110.947214    79.0  122.676152

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [43]:
# 1. Load the `prices.csv` and the `n_listings.csv`
dfPrices = pd.read_csv('data/prices.csv')
dfListings = pd.read_csv('data/n_listings.csv', sep=";")

In [46]:
# 2. Do join that keeps all the records for each table.
join = pd.merge(dfPrices, dfListings, on='neighbourhood_group')

# Joined using the relation of neighbourhood_group

In [47]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
join.to_csv('data/joined.csv', index=False)

In [48]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
dfNew = pd.read_csv('data/joined.csv')

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.